<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>
<div id="nav" th:fragment="header">
    <div class="navbar-fixed">
        <nav class="blue lighten-2 z-depth-1">
            <div class="nav-wrapper">
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

                <a th:href="@{/}"><i class="small material-icons">home</i></a>

                <!--<a href="#" class="large material-icons">home</a>-->
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a th:href="@{/vaktliste}">Vaktliste</a></li>
                    <li><a th:href="@{/tilgjengelighet}">Tilgjengelighet</a></li>
                    <li><a th:href="@{/vakter}">Ledige vakter</a></li>
                    <li><a th:href="@{/ansatte}">Ansatte</a></li>
                    <a><i class="small material-icons">help_outline</i></a>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div th:fragment="sidebar">
<aside>
    <!-- Sidebar-->
    <div>
        <div class="right grey lighten-2 z-depth-3">
            <form>
                <div class="center-align">
                    <div class="section"></div>
                    <i class="large material-icons">face</i>
                </div>
                <div class="firstname row">
                    <div class="input-field col s11">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Fornavn</label>
                    </div>
                </div>

                <div class="lastname row">
                    <div class="input-field col s11">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Etternavn</label>
                    </div>
                </div>

                <!-- Modal Trigger -->
                <div id="edit_button">
                <div class="col s12 center">
                    <a class="modal-trigger waves-effect blue lighten-2 btn" href="#modal1">Rediger</a>
                </div>
                </div>
                <!-- Modal Structure -->
                <div id="modal1" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Rediger informasjon</h4>
                        <div class="firstname row">
                            <div class="input-field col s11">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">Fornavn</label>
                            </div>
                        </div>

                        <div class="lastname row">
                            <div class="input-field col s11">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Etternavn</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s11">
                                <input id="email" type="text" class="validate">
                                <label for="email">E-postadresse</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s11">
                                <input id="phone" type="text" class="validate">
                                <label for="phone">Telefon</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <a class="waves-effect blue lighten-2 btn">Endre passord</a>
                            </div>
                        </div>

                        <hr/>
                        <div class="center-align red-text">
                            <h6>Viktig info.:</h6>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Oppdater</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <a class="waves-effect blue lighten-2 btn">Endre passord</a>
                    </div>
                </div>
                <hr/>
            </form>
            <div class="row">
                <div class="col s12 center">
                    <form name="logout_form" id="logout_form" method="post" th:action="@{/do_logout}">
                        <button type="submit" class="btn waves-effect waves-light blue lighten-2">Logg ut</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</aside>
</div>

</body>
</html>