<!DOCTYPE html>
<head>
    <title>Tilgjengelighet</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/css/availability.css">
    <script src="/js/availability.js"></script>
    <script src="/js/util.js"></script>

    <!-- Javascript -->
    <script language="javascript">
        $(document).ready(function(){
            $('.modal-trigger').leanModal();

            $('#calendar').fullCalendar({
                header: {
                    left:'prev, today',
                    center:'title',
                    right:'next'
                },
                firstDay: 1,
                weekNumbers: true,
                dayNamesShort: ['Søndag', 'Mandag', 'Tirsdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lørdag'],
                monthNames: ['Januar', 'Februar', 'Mars', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Desember'],
                weekNumberTitle: 'Uke',
                buttonText: {
                    today:    'I dag',
                    month:    'Måned',
                    week:     'Uke',
                    day:      'Dag',
                    list:     'Liste'
                }
            })
        });
    </script>
</head>

<body>

<div id="nav" th:replace="fragments/header :: header"></div>

<!-- calendar -->
<div class="cal">
    <div class="section"></div>
    <div id="calendar"></div>
</div>
<br>
<br>

<div id="knapp">
    <!-- Modal Trigger -->

    <a class="waves-effect waves-light btn modal-trigger blue lighten-2" href="#mda">Bytte vakt</a>

    <!-- Modal Structure -->
    <div id="mda" class="modal modal-fixed-footer bottom-sheet">
        <div class="modal-content">
            <h4>Vaktbytte</h4>
            <p>Trykk på den vakten du vil bytte dermed "Bytt vakt"</p>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
        </div>
    </div>
</div>

<div th:replace="fragments/header :: sidebar"></div>

</body>
</html>