<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Endre passord</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Legg til bruker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">

</head>
<body>
    <div id="nav" th:replace="fragments/header :: header('Endre passord')"></div>

    <main>
        <div class="row">
            <div class="col s12 m7 l10 push-s3">
                <div class="row">

                    <h2>Endre passord</h2>
                    <h8>Vi anbefaler å bytte passord minst en gang i måneden for din egen sikkerhet.</h8>
                    <br>
                    <h8>Passordet må være minst 8 tegn som må bestå av store og små bokstaver, samt minst to spesialtegn.</h8>
                    <br>
                    <br>
                    <form id="pwChangeForm" action="javascript:submitPwChange()">
                        <div class="row">
                            <div class="input-field col s12 m3">
                                <input id="old_psw" type="password" required>
                                <label for="old_psw"> Gammelt passord</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m3">
                                <input id="new_psw" type="password"
                                       pattern="(?=.*[!@#$%^&*_=+-])(?=.*[a-z])(?=.*[A-Z]).{8,}" class="validate"
                                       required minlength="8">
                                <label for="new_psw" data-error="Ikke godkjent passord">Nytt passord</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m3">
                                <input id="new_psw_confirm" type="password" class="validate" required>
                                <label for="new_psw_confirm">Gjenta passord</label>
                            </div>
                        </div>
                        <button id="changePasswordButton" class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Oppdater passord</button>
                    </form>
                </div>
            </div>
        </div>
    </main>




<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js' integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script th:src="@{/js/managers/common.js}"></script>
<script th:src="@{/js/managers/userManager.js}"></script>
<script th:src="@{/js/managers/util.js}"></script>

    <script th:src="@{/js/changePassword.js}"></script>


</body>
</html>