<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vaktbytte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vaktbytte</title>
    <!--<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.css' />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/changeShift.css}">


</head>
<body>
<div id="nav" th:replace="fragments/header :: header"></div>

<div class="left-align col s3">
    <button id="button" class="btn waves-effect waves-light blue lighten-2" type="submit" name="action">Bytte vakt</button>
</div>

<main id="tables">
<div class="row">
    <div class="col s4">
<table id="myTable1" class="highlight">
    <thead>
    <tr>
        <th><b>Dine vakter</b></th>
    </tr>
    </thead>
    <tbody id="dateBody">

    </tbody>


</table>
    </div>

    <div class="col s6">
<table id="myTable2" class="tablesorter highlight">
    <thead>
    <tr>
        <th><b>Fornavn</b></th>
        <th><b>Etternavn</b></th>
        <th><b>Stilling</b></th>
        <th><b>Stillingsprosent</b></th>
        <th><b>Antall timer per uke</b></th>

    </tr>
    </thead>
    <tbody id="employeeBody">

    </tbody>

</table>
    </div>

</div>
</main>





<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js' integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.4/js/jquery.tablesorter.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.js'></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="/js/managers/util.js"></script>
<script src="/js/managers/common.js"></script>
<script src="/js/newUser.js"></script>
<script src="/js/managers/userManager.js"></script>
<script src="/js/managers/shiftManager.js"></script>
<script src="js/changeShift.js"></script>
<script th:src="@{js/managers/common.js}"></script>
<script th:src="@{js/changeShift.js}"></script>
</body>
</html>