<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hjelp</title>
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
</head>

<body>
<div id="nav" th:replace="fragments/header :: header('Informasjonsside')"></div>
<main>
<div class="row">
    <!--First card for "Vaktbytte"-->
    <div class="col s12 m6 l4">
        <div class="shift_card">
            <div class="card grey lighten-4">
                    <div class="icon center-align">
                        <i class="medium material-icons blue-text text-darken-4">swap_horiz</i>
                    <!--<img class="activator" src="images/office.jpg">-->
                    </div>
                <div class="card-content">
                    <span class="header card-title activator grey-text text-darken-4">Vaktbytte<i class="material-icons right" id="more">more_vert</i></span>
                    <p><a th:href="@{/}">Bytt vakt her</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Vaktbytte<i class="material-icons right">close</i></span>
                    <p>Du bytter vakt via hjemsiden/din personlige kalender.
                        Der trykker du på den vakten du vil bytte på kalenderen din, dermed får du informasjon om alle ansatte som jobber på den valgte vakten og annet generell informasjon om vakten.
                        Dermed trykker du «Bytte vakt», her får du opp at du må velge en ansatt som du vil bytte vakten din med.
                        Her vil bare de ansatte som fyller kravene dine komme opp og tlf.nr til den valgte ansatte.
                        Når du trykker på «bytt vakt», får du opp en melding om at forespørsel er sendt.
                        Dette blir sendt til admin og han må godkjenne eller ikke godkjenne vaktbyttet ditt.
                        Hvis godkjent vil vakten forsvinne fra din personlige kalender på hjemsiden, hvis ikke blir den stående der.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Second card for..-->
    <div class="col s12 m6 l4">
        <div class="shift_card">
            <div class="card grey lighten-4">
                <div class="icon center-align">
                    <i class="medium material-icons blue-text text-darken-4">assignment</i>
                    <!--<img class="activator" src="images/office.jpg">-->
                </div>
                <div class="card-content">
                    <span class="header card-title activator grey-text text-darken-4">Vaktliste<i class="material-icons right" id="more">more_vert</i></span>
                    <p><a th:href="@{/vaktliste}">Gå til vaktliste her</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Vaktliste<i class="material-icons right">close</i></span>
                    <p>Her vises en oversikt over alle ansatte som er satt opp på den valgte uken. Vaktene som er markert med blå og/eller merket med «A» er ansvarsvaktene.
                        De grønne som er markert med «V» er vaktene du er satt opp.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="shift_card">
            <div class="card grey lighten-4">
                <div class="icon center-align">
                    <i class="medium material-icons blue-text text-darken-4">event_available</i>
                    <!--<img class="activator" src="images/office.jpg">-->
                </div>
                <div class="card-content">
                    <span class="header card-title activator grey-text text-darken-4">Tilgjengelighet<i class="material-icons right" id="more">more_vert</i></span>
                    <p><a th:href="@{/tilgjengelighet}">Gå til tilgjengelighet her</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Tilgjengelighet<i class="material-icons right">close</i></span>
                    <p>Her har du muligheten til å se alle ansatte sin tilgjengelighet. Du kan også lett komme deg til din tilgjengelighet ved å klikke på «Min tilgjengelighet».</p>
                </div>
            </div>
        </div>
    </div>




    <div class="col s12 m6 l4">
        <div class="shift_card">
            <div class="card grey lighten-4">
                <div class="icon center-align">
                    <i class="medium material-icons blue-text text-darken-4">event_available</i>
                    <!--<img class="activator" src="images/office.jpg">-->
                </div>
                <div class="card-content">
                    <span class="header card-title activator grey-text text-darken-4">Min tilgjengelighet<i class="material-icons right" id="more">more_vert</i></span>
                    <p><a th:href="@{/tilgjengelighet}">Gå til din tilgjengelighet her</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Min tilgjengelighet<i class="material-icons right">close</i></span>
                    <p>Her har du muligheten til å sette deg tilgjengelig og utilgjengelig ut i fra når du kan jobbe/ikke jobbe.
                        Dette gjør du ved å dra boksene som ligger under overskriften «Vakter» eller «Fravær» og plasserer de på den rette dagen.
                        Der tidspunktene under oversikften«Vakter» er de du bruker for å sette deg tilgjengelig, og tidspunktene under «Fravær» bruker du til å sette deg utilgjengelig.
                        Her er rød vaktene du har satt deg utilgjengelig på og grønn de du har satt deg tilgjengelig på.
                        Ved feil kan du slette vakten ve då trykke på «X».
                        Dermed trykker du «lagre» når du er ferdig.
                        Dermed får du bekreftelse på at alt gikk bra.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="shift_card">
            <div class="card grey lighten-4">
                <div class="icon center-align">
                    <i class="medium material-icons blue-text text-darken-4">group</i>
                    <!--<img class="activator" src="images/office.jpg">-->
                </div>
                <div class="card-content">
                    <span class="header card-title activator grey-text text-darken-4">Ansatte<i class="material-icons right" id="more">more_vert</i></span>
                    <p><a th:href="@{/ansatte}">Gå til ansatte her</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Ansatte<i class="material-icons right">close</i></span>
                    <p>Her har du muligheten til å se en oversikt over alle ansatte med informasjon som navn, stilling, stillingsprosent, telefonnr., antall timer per uke som denne personen har jobbet og e-post.
                        Du kan også sortere etter valgt kategori ut i fra å trykke på overskiftene, f.eks. overskriften «Fornavn».
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="shift_card">
            <div class="card grey lighten-4">
                <div class="icon center-align">
                    <i class="medium material-icons blue-text text-darken-4">date_range</i>
                    <!--<img class="activator" src="images/office.jpg">-->
                </div>
                <div class="card-content">
                    <span class="header card-title activator grey-text text-darken-4">Ledige vakter<i class="material-icons right" id="more">more_vert</i></span>
                    <p><a th:href="@{/ledigeVakter}">Gå til ledige vakter her</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Ledige vakter<i class="material-icons right">close</i></span>
                    <p>Her får du en oversikt over alle de ledige vaktene med dato, klokkeslett og hvilken avdeling vaktene er på.
                        Når du klikker på en vakt får du mulighet til å ønske deg denne vakten ved å trykke «Ja».
                        Eller «Nei» hvis ikke ønsket.
                        Hvis «Ja» får du bekreftelse på at vaktønske er registert.
                        Dette kommer inn når admin. skal ordne med timeliste, da står du på denne vakten som tilgjengelig. </p>
                </div>
            </div>
        </div>
    </div>






    <div class="col s12 m6 l4">
        <div class="shift_card">
            <div class="card grey lighten-4">
                <div class="icon center-align">
                    <i class="medium material-icons blue-text text-darken-4">event_busy</i>
                    <!--<img class="activator" src="images/office.jpg">-->
                </div>
                <div class="card-content">
                    <span class="header card-title activator grey-text text-darken-4">Fravær<i class="material-icons right" id="more">more_vert</i></span>
                    <p><a th:href="@{/}">Gå til fravær her</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Fravær<i class="material-icons right">close</i></span>
                    <p>Du melder fravær via hjemsiden/din personlige kalender. Der trykker du på den vakten du vil melde fravær på, dermed får du informasjon om alle ansatte som jobber på den valgte vakten og annet generell informasjon om vakten.
                        Dermed trykker du «Meld fravær» og får opp en meldingsboks der du må fylle inn en kommentar på fraværet ditt.
                        Til slutt får du alternativene «Ok» eller «Avbryt».
                        Ved klikk på «Ok» vil du få en bekreftelse på at fraværet er meldt og admin vil få mail på fraværet.
                        Vakten slettes fra timelisten din.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col s12 m6 l4">
        <div class="shift_card">
            <div class="card grey lighten-4">
                <div class="icon center-align">
                    <i class="medium material-icons blue-text text-darken-4">home</i>
                    <!--<img class="activator" src="images/office.jpg">-->
                </div>
                <div class="card-content">
                    <span class="header card-title activator grey-text text-darken-4">Hjem<i class="material-icons right" id="more">more_vert</i></span>
                    <p><a th:href="@{/}">Gå til hjemside her</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Hjem<i class="material-icons right">close</i></span>
                    <p>Dette er hovedsiden, den siden man blir sendt til etter å ha logget inn. Her er en kalender med oversikt over den innloggede sine vakter.
                        Og kan lett komme tilbake til hjem-siden ved å trykke på ikonet med et bilde av et hjem.
                        På denne siden har du muligheter til å holde over en vakt for å få mer informasjon om denne vakten.
                        Hvis man trykker på vakten får man mulighetene «Bytte vakt» og «Meld fravær».</p>
                </div>
            </div>
        </div>
    </div>

</div>
</main>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js' integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.4/js/jquery.tablesorter.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script th:src="@{js/managers/common.js}"></script>
<script th:src="@{js/help.js}"></script>

</body>
</html>