
.fc-sun { color:red;  }

#formID\3A scheduleID table.fc-agenda-slots{
    display:none
}

#calendar {
    float: right;
    margin-right: 25%;
    margin-top:3%;
    width: 63%;
}
/*
#unavailable-events {
    position: fixed;
    margin-top:17%;
    float: left;
    width: 150px;
    height: 500px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
}*/

#unavailable-events h4 {
    font-size: 16px;
    margin-top: 0;
}

#unavailable-events .fc-event-u {
    margin: 10px 0;
    cursor: pointer;
}


#external-events {
    position: fixed;
    margin-top: 8.1%;
    float: left;
    width: 150px;
    height: 260px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

#calendar {
    float: right;
    margin-right: 25%;
    margin-top: 2%;
    width: 63%;
}

#save{
    float: right;
    margin-top: -12.5%;
    margin-right: 25%;
}

#header {
    margin-top: 2%;
    margin-left: 2%;
}

#text {
    margin-left: 2.5%;
    color: grey;
}

#circle {
    margin-left: 6%;
}

#circle2 {
    margin-left: -30%;
}

#text1 {
    margin-left: 18%;
    margin-top: -10%;
}

#text2 {
    margin-left: -18%;
    margin-top: -10%;
}
