.cal {
    margin-left: 2%;
    margin-right: 2%;
}

.fc-sun {
    color:red;  }

#formID\3A scheduleID table.fc-agenda-slots{
    display:none
}

#circle {
    margin-left: 5%;
}

#header {
    margin-top: 3%;
    margin-left: 2%;
}

#text {
    margin-left: 5%;
    color: grey;
}

#text1 {
    margin-left: 20%;
    margin-top: -12%;
}
#text2 {
    margin-left: 15%;
    margin-top: -12%;
}
#text3 {
    margin-left: 15%;
    margin-top: -12%;
}
#text4 {
    margin-left: 15%;
    margin-top: -12%;
}

#calendar {
    float:left;
    /*float: right;*/
}

#btn {
    float: right;
    margin-top:-6.5%;
    margin-right: 3%;
}
