
.fc-sun { color:red;  }

#formID\3A scheduleID table.fc-agenda-slots{
    display:none
}

#calendar {
    float: right;
    margin-right: 25%;
    margin-top:3%;
    width: 63%;
}
/*
#unavailable-events {
    position: fixed;
    margin-top:17%;
    float: left;
    width: 150px;
    height: 500px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
}*/

#unavailable-events h4 {
    font-size: 16px;
    margin-top: 0;
}

#unavailable-events .fc-event-u {
    margin: 10px 0;
    cursor: pointer;
}


#external-events {
    position: fixed;
    margin-top:3%;
    float: left;
    width: 150px;
    height: 260px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

#calendar {
    float: right;
    margin-right: 25%;
    margin-top:3%;
    width: 63%;
}

#save{
    position:fixed;
    width:11.7%;
    margin-top:30%;
}