#myTable1 {
    width: 100%;
    margin-left:2%;
    margin-top: 5%;
}


#home {
    position: relative;
    float: left;
    top: 5px;

}

#myTable2 {
    width: 120%;
    margin-left: 15%;
    margin-top: 3.25%;
}


.selected {
    background-color: #64b5f6;
    color: white;
}

.selected2 {
    background-color: #64b5f6;
    color: white;
}

#button{
    margin-top: 2%;
    margin-left: 63%;
}



