#search-bar {
     border-bottom: 1.5px solid #64b5f6;
 }

.search-container{
    margin-top: -15%;

}

.h2 {
    margin-left: 2%;
}

#header {
    margin-left: 2%;
}

#icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -50px;
    right: -45px;
}

.table {
    margin-top: -20%;
}


#myTable {
    width: 96.5%;
    margin-left:2%;
    margin-right:17%;
    vertical-align: top;
}

#myButton {
    position: relative;
    float: left;
    top: 20px;
    margin-left: 2%;
    margin-bottom: 2%;
}

#home {
    position: relative;
    float: left;
    top: 5px;

}




