
#search-bar {
     border-bottom: 1.5px solid #64b5f6;
 }

.search-container{
    width: 300px;
    margin-left: 75%
}

.material-icons{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -50px;
    right: -45px;
}

.table {
    margin-top: -23%;
}