.icon{
    margin-left: 35%;

}


#text_shift{
    margin-left: 10%;
}

.first_row{
    margin-top:2%;
}

.row{
    margin-left: 2%;
}

.header{
    margin-top:3%;
}

#more{
    margin-top:5%;
}
/*
.shift_card{
    width:17%
}*/