.icon{
    margin-left: 35%;

}
#header{
    margin-left: 2.5%;
    margin-top:2%;

}

#text_shift{
    margin-left: 10%;
}

.first_row{
    margin-left: 2%;
    margin-top:2%;
}

.second_row{
    margin-left: 2%;
}

.third_row{
    margin-left: 2%;
}

.fourth_row{
    margin-left:2%;
}

.header{
    margin-top:3%;
}

#more{
    margin-top:5%;
}
/*
.shift_card{
    width:17%
}*/