aside
{
    position: fixed;
    margin-left: 77%;
    padding:0;
    width: 300px;
    top: 4em;
    left: 0;
}

#edit_button{
    width: 200px;
}

.cal {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
}

.fc-sun {
    color:red; }

#header {
    margin-top: 2%;
    margin-left: 2%;
}


#circle {
    margin-left: 2%;
}
#text1 {
    margin-left: 15%;
    margin-top: -13%;
}

#text2 {
    margin-left: 15%;
    margin-top: -13%;
}

#close_btn {
    float: left;
    margin-left: 2%;
}

#absent_btn {
    float: left;
    margin-left: 2%;
}

#change_btn {
    float: left;
    margin-left: 2%;
}

#change_confirm_btn {
    float: left;
    margin-left: 2%;
}

#cancel_change_btn {
    float: left;
    margin-left: 2%;
}

#text_info {
    margin-left: 2%;
    color: grey;
}



