aside
{
    position: fixed;
    margin-left: 77%;
    padding:0;
    width: 300px;
    top: 4em;
    left: 0;
}

#edit_button{
    width: 200px;
}

.cal
{
    margin-left: 2%;
    width: 75%;
}

.fc-sun { color:red; }


