.cal
{
    margin-left: 2%;
    margin-right: 2%;
}

.fc-sun { color:red; }

header, main, footer {
    padding-right: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-right: 0
    }
}
