
html {
    height: 100%;
    font-family: Helvetica Neue;
}

body {
    background: url("/images/background.jpg") no-repeat;
    background-size: cover;
}
h8{
    text-transform: uppercase;
}

.valign-center {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}