.cal
{
    margin-left: 2%;
    margin-right: 2%;
}

.fc-sat { color:red; }
.fc-sun {
    color:red;  }

#formID\3A scheduleID table.fc-agenda-slots{
    display:none
}

#header {
    margin-top: 2%;
    margin-left: 2%;
}
#text {
    margin-left: 2%;
    color: grey;
}

/*body {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}*/
/*
#wrap {
    width: 1100px;
    margin: 0 auto;
}*/

#external-events {
    position: fixed;
    margin-top:2.5%;
    float: left;
    width: 150px;
    height: 230px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    /*text-align: left;*/
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    /*padding-top: 1em;*/
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}
/*
#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}*/
/*
#external-events p input {
    margin: 0;
    vertical-align: middle;
}*/

#calendar {
    float:right;
    width:85%;
    /*float: right;*/
}

#save{
    position:fixed;
    width:11.7%;
    margin-top:23%;
}

