.collection {
    width: 74%;
    margin-left: 1%;
    margin-top: 2%;
    background-color: white;
    color: white;
}

.collapsible {
    background-color: white;
    color: white;
}

#declineButton {
    margin-left: 30%;
}

#decline {
    margin-left: 10%;
}

#header {
    margin-top: 3%;
    margin-left: 2%;
}
