#category-box {
    width: 400%;
    margin-left: 20%
}

#category-box1 {
    width: 212%;
    margin-top: 40%;
    margin-left: 10%;
}

#button {
    margin-top: 18%;
    margin-left: 2%;
}

#header {
    margin-left: 2%;
}

#text{
    margin-left: 2%;
    color: grey;
}