#category-box {
    width: 400%;
    margin-left: 20%
}

#category-box1 {
    width: 517%;
    margin-top: 80%;
    margin-left: 20%;
}

#button {
    margin-top: 15%;
    margin-left: 2%;
}

#header {
    margin-left: 2%;
}