.cal {
    margin-top: -2%;
    margin-left: 2%;
    margin-right: 2%;
}

.fc-sun { color:red;  }

#formID\3A scheduleID table.fc-agenda-slots{
    display:none
}

#new {
    margin-top:-12%;
    margin-left: 81%;
}

#header {
    margin-top: 3%;
    margin-left: 2%;
}

#circle {
    margin-left: 2%;
}
#text1 {
    margin-left: 15%;
    margin-top: -13%;
}

#text2 {
    margin-left: 15%;
    margin-top: -13%;
}

#info{
    margin-top: -20%;
}