.cal {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.fc-sun { color:red;  }

#formID\3A scheduleID table.fc-agenda-slots{
    display:none
}

.btn {
    margin-top: 2%;
    margin-right: 2%;
}


#circle {
    margin-left: 2%;
}

.material-icons, .icon-text {
    vertical-align: middle;
}