<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Materialize - Codepen</title>
    <!-- CSS  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../css/employee.css">
</head>
<body>

<div class="row">

    <nav class="blue lighten-2 flat hide-on-med-and-down">
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required="">
                    <label for="search"><i class="mdi-action-search"></i></label>
                    <i class="mdi-navigation-close"></i>
                </div>
            </form>
        </div>
    </nav>

</div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-fixed">
            <thead>
            <tr>
                <th>
                    <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">Navn<span class="pull-right"><i class="fa" ng-class="{'fa-sort': sortType != 'name', 'fa-caret-down': sortType == 'name' && !sortReverse, 'fa-caret-up': sortType == 'name'&& sortReverse} "></i>
                    </span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'position'; sortReverse = !sortReverse">Stilling<span class="pull-right"><i class="fa" ng-class="{'fa-sort': sortType != 'position', 'fa-caret-down': sortType == 'position' && !sortReverse, 'fa-caret-up': sortType == 'position' && sortReverse} "></i>
                    </span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'percent'; sortReverse = !sortReverse">Stillingsprosent<span class="pull-right"><i class="fa" ng-class="{'fa-sort': sortType != 'percent', 'fa-caret-down': sortType == 'percent' && !sortReverse, 'fa-caret-up': sortType == 'percent' && sortReverse} "></i>
                    </span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'phone'; sortReverse = !sortReverse">Tlf<span class="pull-right"><i class="fa" ng-class="{'fa-sort': sortType != 'phone', 'fa-caret-down': sortType == 'phone' && !sortReverse, 'fa-caret-up': sortType == 'phone' && sortReverse} "></i>
                    </span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'hours'; sortReverse = !sortReverse">Antall timer<span class="pull-right"><i class="fa" ng-class="{'fa-sort': sortType != 'hours', 'fa-caret-down': sortType == 'hours' && !sortReverse, 'fa-caret-up': sortType == 'hours' && sortReverse} "></i>
                    </span>
                    </a>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'mail'; sortReverse = !sortReverse">E-post<span class="pull-right"><i class="fa" ng-class="{'fa-sort': sortType != 'mail', 'fa-caret-down': sortType == 'mail' && !sortReverse, 'fa-caret-up': sortType == 'mail' && sortReverse} "></i>
                    </span>
                    </a>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Kristin</td>
                <td>Sykepleier</td>
                <td>100%</td>
                <td>12345678</td>
                <td>37.5</td>
                <td>kristin@hotmail.com</td>
            </tr>
            <tr>
                <td>Stine</td>
                <td>Helsefagarbeider</td>
                <td>100%</td>
                <td>23456789</td>
                <td>37.5</td>
                <td>stine@hotmail.com</td>
            </tr>
            <tr>
                <td>Elisabeth</td>
                <td>Assistent</td>
                <td>100%</td>
                <td>34567890</td>
                <td>37.5</td>
                <td>elisabeth@hotmail.com</td>
            </tr>
            </tbody>


        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>

<script src="js/employee.js"></script>
</body>
</html>