<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hjem</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/absence.css}">
</head>
<body>
<div id="nav" th:replace="fragments/header :: header"></div>

<div class="row">
    <div class="col s3">
        <table id="myTable1" class="tablesorter">
            <thead>
            <tr>
                <th><b>Dato</b></th>
                <th><b>Klokkeslett</b></th>
            </tr>
            </thead>


        </table>
    </div>

    <div class="row">
        <div class="input-field col s5">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Kommentar</label>
        </div>
    </div>


</div>

<script src="//cdn.jsdelivr.net/alertifyjs/1.8.0/alertify.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js' integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script th:src="@{js/common.js}"></script>
<script th:src="@{js/util.js}"></script>
<script th:src="@{js/shiftManager.js}"></script>
<script th:src="@{js/absence.js}"></script>

</body>
</html>
